* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 1.5rem 0;
}

.container {
  width: 75%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid #58402c;
}

.navbar_left {
  width: 30%;
  padding: 0 0 10px 0;
}

.navbar_right {
  display: flex;
  align-items: right;
  justify-content: flex-end;
  width: 40%;
  padding: 0 0 10px 0;
}
.navbar_right li {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
  list-style: none;
  display: inline;
  padding: 0 1.5rem;
  color: #58402c;
}
.navbar_right button {
  color: #2c4792;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0.6rem 1.2rem;
  background: none;
  outline: none;
  border: 1px solid #2c4792;
  border-radius: 5px;
  vertical-align: middle;
}
.navbar_right button img {
  display: inline-block;
  height: 1.2rem;
  vertical-align: middle;
}

#header {
  display: flex;
  align-items: none;
  justify-content: space-between;
  flex-wrap: wrap;
  background-position: 95% 15%;
  background-size: 50%;
  background-repeat: no-repeat;
  padding: 2.5rem 0;
  height: 90vh;
  padding: 4.5rem 0;
}

.header_left {
  display: flex;
  align-items: flex-start;
  justify-content: none;
  flex-flow: column;
  width: 50%;
  color: #58402c;
}
.header_left h1 {
  font-size: 4rem;
  font-weight: 500;
}
.header_left p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 4.5rem;
}
.header_left button {
  background: #2c4792;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}
.header_left button img {
  height: 20px;
  vertical-align: middle;
  display: inline-block;
}
.header_left a {
  display: block;
  padding-top: 1.5rem;
  color: #58402c;
}

.header_right {
  width: 50%;
}
.header_right .header_img {
  width: 100%;
}
.header_right .header_img img {
  width: 100%;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100vw;
  background: #ffe7d2;
}

.main_top {
  display: flex;
  align-items: center;
  justify-content: none;
  flex-flow: column;
  padding: 2.5rem 0;
  border-bottom: 1px solid #58402c;
}
.main_top h2 {
  font-size: 2.5rem;
  color: #58402c;
  text-align: center;
  line-height: 3.5rem;
}

.main_top_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.content {
  margin: 4rem 0;
}
.content img {
  height: 150px;
}
.content p {
  padding: 2.5rem 0;
  color: #58402c;
}

.img_top {
  padding: 3.5rem 0;
}

.main_bottom {
  display: flex;
  align-items: center;
  justify-content: none;
  flex-flow: column;
  padding: 2.5rem 0;
}
.main_bottom h2 {
  font-size: 2.5rem;
  color: #58402c;
  text-align: center;
  line-height: 3.5rem;
}

.main_bottom_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.content_bottom {
  margin: 4rem 0;
  width: calc(100% / 3);
}
.content_bottom img {
  height: 150px;
}
.content_bottom p {
  padding: 2.5rem 0;
  color: #58402c;
}

#feedback {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  margin-top: 3.5rem;
}
#feedback a {
  color: #2c4792;
}

.feedback_img {
  width: 50%;
}

.employee_feedback {
  width: 20%;
}

.feedback_img img {
  width: 100%;
}

.employee_feedback h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #58402c;
  padding-bottom: 3.5rem;
}
.employee_feedback p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #58402c;
  line-height: 2.5rem;
  padding-bottom: 2.5rem;
}
.employee_feedback a {
  display: block;
  padding-bottom: 1.5rem;
}
.employee_feedback img {
  width: 100%;
}

#survey {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100vw;
  margin-top: 3.5rem;
}
#survey a {
  color: #2c4792;
}

.survey_img {
  width: 50%;
}

.employee_survey {
  width: 20%;
}

.survey_img img {
  width: 100%;
}

.employee_survey {
  display: flex;
  align-items: flex-start;
  justify-content: none;
  flex-flow: column;
}
.employee_survey h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #58402c;
  padding-bottom: 3.5rem;
}
.employee_survey p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #58402c;
  line-height: 2.5rem;
  padding-bottom: 2.5rem;
}
.employee_survey a {
  display: block;
  padding-bottom: 1.5rem;
}
.employee_survey img {
  width: 100%;
}

#reviews {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  margin-top: 3.5rem;
}
#reviews a {
  color: #2c4792;
}

.reviews_img {
  width: 50%;
}

.employee_reviews {
  width: 20%;
}

.reviews_img img {
  width: 100%;
}

.employee_reviews h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #58402c;
  padding-bottom: 3.5rem;
}
.employee_reviews p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #58402c;
  line-height: 2.5rem;
  padding-bottom: 2.5rem;
}
.employee_reviews a {
  display: block;
  padding-bottom: 1.5rem;
}
.employee_reviews img {
  width: 100%;
}

#help {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100vw;
  margin-top: 3.5rem;
}
#help a {
  color: #2c4792;
}

.help_img {
  width: 50%;
}

.employee_help {
  width: 20%;
}

.help_img img {
  width: 100%;
}

.employee_help {
  display: flex;
  align-items: flex-start;
  justify-content: none;
  flex-flow: column;
}
.employee_help h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #58402c;
  padding-bottom: 3.5rem;
}
.employee_help p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #58402c;
  line-height: 2.5rem;
  padding-bottom: 2.5rem;
}
.employee_help a {
  display: block;
  padding-bottom: 1.5rem;
}
.employee_help img {
  width: 100%;
}
