* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
}

#app {
    @include flex(center, center);
    flex-flow: column;
    flex-wrap: wrap;
    padding: 1.5rem 0;
}

.container {
    width: 75%;
}

a {
    text-decoration: none;
    cursor: pointer;
}


@media screen and(max-width: 550px) {
    .navbar_right {
        i {
            display: block !important;
        }

        ul {
            display: none;
        }
    }

    #header {
        @include flex(center, space-between);
        flex-wrap: wrap;
        flex-flow: column;
    }

    .header_right,
    .header_left {
        width: auto !important;
    }

    #main {
        flex-wrap: wrap;
        flex-flow: column;
    }

    .main_top_content,
    .main_bottom_content {
        flex-wrap: wrap;
        flex-flow: column;
    }

    #main-section {
        @include flex(center, space-between);
        flex-flow: column;
        flex-wrap: wrap;
    }

    #feedback,
    #survey,
    #reviews,
    #help {
        display: flex !important;
        flex-flow: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .employee_feedback,
    .employee_survey,
    .employee_reviews,
    .employee_help {
        align-items: center !important;
        text-align: center !important;
        width: 100% !important;
    }

    .feedback_img,
    .survey_img,
    .reviews_img,
    .help_img {
        width: 100% !important;
    }

    .information {
        h2 {
            text-align: center !important;
        }

    }

    .information_box {

        width: auto !important;
    }

    .links {
        flex-wrap: wrap;
    }

    .links_content {
        width: auto !important;
    }
}