* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
}

#app {
    @include flex(center, center);
    flex-flow: column;
    flex-wrap: wrap;
    padding: 1.5rem 0;
}

.container {
    width: 75%;
}

a {
    text-decoration: none;
    cursor: pointer;
}